:root {
    --border: 3px solid #000;
    --accent-colour: #f56565;
    --text-muted: #595959;
    --text-dark: #000;
    --hover-link-color: #1c9ada;

    --background-color: #fff;
}

.button {
    --background-color: #e2e8f0;
    --background-color-hover: #bdd1eb;
}

.form__field {
    --background-color: #e8e5e5;
}

.form__field,
.nav__link {
    --border: 3px solid #f56565;
}

@media screen and (min-width: 60em) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 75em) {
    html {
        font-size: 18px;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Public Sans", sans-serif;
    color: var(--text-dark);
    line-height: 1.45;
    background-color: var(--background-color);
}

.main {
    flex-grow: 1;
    padding: 3rem 1.5rem 2rem 1.5rem;
}

@media screen and (min-width:30em) {
    .main {
        padding-top: 5rem;
    }
}

.header {
    padding: 0 2rem;
    border-bottom: var(--border);
}

.header__logo  {
    display: flex;
    align-items: center;
    height: 4rem;
    color: inherit;
    text-decoration: none;
}

.header__logo:hover {
    color: var(--accent-colour);
}

.logo__name {
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
}

.nav {
    display: flex;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    text-decoration: none;
    color: inherit;
}

.nav__link--active {
    background: var(--accent-colour);
}

.nav__link:not(:last-child) {
    margin-right: 1rem;
}

.nav__link:hover {
    margin-bottom: -3px;
    border-bottom: var(--border);
}

.nav__item {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer {
    padding: 1rem;
    color: var(--text-muted);
    text-align: center;
}
